<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=EDGE" />
  <title>Google Vision API Sample</title>
</head>

<body>
  <header>
    <h1>Google Vision API Sample</h1>
  </header>

  {# post form #}
  <div>
    <form action="/" method="POST" enctype="multipart/form-data">
      <div>
        <input type="file" name="image" accept="image/*" required /> <br/>
        <input type="submit" value="Send" />
      </div>
      
      <ul style="list-style: none;">
        {% for item in items %}
        <li>
          <label>
            {{ item }}
            <input id="{{ item }}" type="checkbox" name="options" value="{{ item }}" />
          </label>
        </li>
        {% endfor %}
      </ul>
    </form>
  </div>

  <footer>
    <p>Created by wararaki.</p>
  </footer>
  
</body>
</html>
